.row {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
.mainpage1{
    background: url('../Resources/photo5.jpg');
    background-size: grid;
  
}

.panel-footer.panel-custom {
    background: black;
    color: white;
}

.picContainer{
    position: relative;
}

.img-1{
    border-radius: 4px;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;

}

.testText
{
    color: white;
}